// Colors
$color__blue: rgba(3, 155, 211, 1);
$color__blue--light: rgba(3, 155, 211, 0.9);
$color__blue--lighter: rgba(3, 155, 211, 0.7);

$color__white: rgba(255, 255, 255, 1);
$color__white--light: rgba(255, 255, 255, 0.9);
$color__white--lighter: rgba(255, 255, 255, 0.7);

// Fonts
$base__font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
